:root{
    --clr-background : hsl(30, 54%, 90%);
    --clr-title :  hsl(24, 5%, 18%);
    --clr-list-items : hsl(30, 10%, 34%);
    --clr-subtitle : hsl(14, 45%, 36%);
    --clr-container : hsl(0, 0%, 100%);
    --clr-prepare: hsl(330, 100%, 98%); 
    --clr-bold : hsl(24, 5%, 18%);
    --clr-pre : hsl(332, 51%, 32%);

    --ff-title : "Young Serif", serif;
    --ff-body : "Outfit", sans-serif;

}


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
h1, h2, h3{
  line-height: 2;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

body{
    background-color: var(--clr-background);
    font-family: var(--ff-body);
    color: var(--clr-title);
    font-size: 16px;
    
}


.container {
    margin: 0 auto;
    max-width: 800px;
    margin-top: 3rem;
    padding: 2rem;
    line-height: 2;
    background-color: var(--clr-container);
    border-radius: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
}

.container img {
    width: 100%;
    height: auto;
    border-radius: 14px;
}

.recipe__title {
    font-family: var(--ff-title);
    font-weight: 200;
    font-size: 2.5rem;
    margin-top: 1rem;
    color: var(--clr-title);

}

.recipe__prep-time {
    font-size: 0.825  ;
    background-color: var(--clr-prepare);
    padding: 1rem;
    border-radius: 12px;
    margin-top: 1.5rem;
    color: var(--clr-pre);
}

.recipe__prep-time ul {
    padding-left: 1.5rem;
}


.recipe__prep-time ul li {
    padding-left: 1rem;
    margin: .5em 0;
}

.recipe__prep-time b  {
    color: var(--clr-list-items);
}

h2 {
    font-family: var(--ff-title);
    color: var(--clr-subtitle);
    font-weight: 200;
}

.nutrition__value{
  font-weight: 800;
  color: var(--clr-subtitle);
}


ul {
    padding-left: 1.5rem;
    line-height: 1.7;
}
ul li {
    padding-left: 1rem;
    margin: .5em 0;
}



ol{
    line-height: 2;
    padding-left: 1.3rem;

}

ol li{
    color: var(--clr-bold);
    font-style: bold;
    line-height: 2;
    padding-left: 1rem;
}

hr{
    outline: none;
    border: none;
    height: 1px;
    background: hsl(32, 19%, 85%);
    margin-top: 2.3rem;
    margin-bottom: 1.2rem;

}

h2{
  font-size: 2rem;
}

table{
  border-collapse: collapse;
  width: 100%;
}

tr{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 0.825rem;
  
}

tr:not([class]){
  border-bottom: 1px solid  hsl(32, 19%, 85%);;
}